<!DOCTYPE html>
<html>
  <head>
    {% load bootstrap5 %} {% load static %} {% bootstrap_css %} {% bootstrap_javascript %}
    <!-- <link type="text/css" rel="stylesheet" href="{%static 'css/style.css' %}" /> -->
  </head>
  <body data-bs-theme="dark">
    <header>
        <nav class="navbar navbar-dark bg-primary">
            <div class="container">
                <a href='{% url "index" %}'>
                    <h1 class="text-light">Task Manager</h1>
                </a>
            </div>
          </nav>
    </header>

    <div class="container pt-4">{% block content %}{% endblock content %}</div>
  </body>
</html>
